Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^inicio$ ./index.php?act=index [L]

RewriteRule ^correos/config$ ./index.php?act=config [L]

RewriteRule ^correos/config/guardar$ ./index.php?act=guardar_config [L]

RewriteRule ^correos/enviar$ ./index.php?act=enviar_correos [L]


